<div class="w3-row">
   <img
      src="cardForCash.jpg"
      alt="sell Cards"
      class="w3-col w3-center m1 s12"
      style="max-width: 100px;">
    <h2 class="actionlink w3-col m11">
      Exchange Your GiftCards with the Fastest Platform in Nigeria
        <a
          href="#sellCard"
          class="pink-color"
          style="font-size: 12px"
          alt="sale card section">
        Sale Your Gift Cards now
      </a>
    </h2>
</div> 
