<div class="w3-row">
  <h2 class="w3-col l9  m12 s12">
    <div class="w3-row">
      <a href="/" class="w3-col m2">
        <span class="w3-badge w3-small">ExchaneZone <br />9ja</span>
      </a>
      <i class="actionlink w3-col m10"> Exchange Your GiftCards with the Fastest Platform in Nigeria</i>
    </div>
  </h2>
  <h4 class="w3-col l3 m12 s12 w3-right no-marginy">
    <a href="#sellCard" class="actionButton" alt="sale card section">
      Sale Your Gift Cards now
    </a>
  </h4>
</div> 
