<div class="w3-container">
   <div
      class="w3-modal-content w3-card-4 w3-animate-zoom"
      style="max-width:600px">
      <div class="w3-center">
        <p class=" w3-block w3-padding w3-indigo">
          *********TERMS OF TRADE*********
        </p>
      </div>

      <p class=" w3-block w3-padding">
        Upload the full picture of your gift cards showing its denomination
        or attach the receipt if the denomination isn't visible.
      </p>
      <p class=" w3-block w3-padding">
       Gift Card denominations of $5, $10, $15, $25, $50, & $100 are termed Normal cards,
       while cards that are above $100 or its equivalent are terms Higher Denomination cards.
       </p>
      <p class=" w3-block w3-padding">
      Ensure to indicate the category of cards that you intend to sell using the
       checkbox in the form.
      </p>
      <p class=" w3-block w3-padding">
      A notepad is provided to describe the denominations of the cards, please be
       sincere with your description.
      </p>
      <p class=" w3-block w3-padding">
        We won't credit your account if you upload ECODES, USED or UNACTIVATED or INVALID Cards.
      </p>
      <p class=" w3-block w3-padding w3-center">
        <a href="/#sellCard" class=" w3-block w3-green">
          I Agree
        </a>
      </p>
    </div>
  </div>
