<footer class="w3-row w3-indigo">
      <div class="w3-third w3-padding">
        &copy; Copyright 2017
         <a
            href="/TermsandConditions"
            class="spanLink1">
            Terms and Conditions
          </a>
      </div>
      <div class="w3-third w3-padding">
        <i class="fa fa-phone">
          09095113492
          whatsapp only » 08149677155</i>
      </div>
      <div class="w3-third w3-padding">
        <a
          className="w3-xlarge"
          style="margin-right: 10px;"
          href="mailto:sales@exchangezone9ja.com?Subject=User's%20Feedback"
          target="_top"
          title="sales@exchangezone9ja.com"
        >
          Send us a mail <i class="fa fa-envelope"></i>
        </a>
        <a
          href="https://www.instagram.com/exchangezone9ja/"
          style="margin-right: 2px;"
          target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        &nbsp;
        <a
          href="https://twitter.com/exchangezone9ja"
          target="_blank">
          <i class="fa fa-twitter"> exchangezone9ja</i>
        </a>
      </div>
    </footer>
